*{
    cursor: url('bald eagle.png'), pointer;
    text-align: center;
}
body{
    background-image: url('votebackground.jpg');
}
button{
    color:black;
    background-color: white;
    border-color: transparent;
    border-radius:25%;
    height: 5%;
    width: 10%;

}
h1{
    color:white;
}
#johnson{
    margin-bottom: 5%;
    margin-left: 15%;
    position: absolute;    
    top: 400px;
    right: 480px
}

#field{
    width: 98vw;
    height: 98vh;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

#johnsonpic{
    justify-content: center;
    border-radius: 5%;
    padding: 5%;
}

#nixonpic{
    justify-content: center;
    border-radius: 5%;
    padding: 5%;

}

#nixon{
    margin-bottom: 5%;
    margin-left: 15%;
    position: absolute;
    top: 400px;
    left: 240px
}